@use './colors';
@use './typography';
@use './mixins';
* {
  box-sizing: border-box;
}

*, body {
  margin: 0;
  padding: 0;
}

// headers
// h1 {
//   font-family: "Avenir";
//   font-size: 3.75rem;
//   font-weight: 700;
//   font-style: bold;
//   line-height: 4.25rem;
// }
// h2 {
//   font-family: "Avenir";
//   font-size: 2.25rem;
//   font-weight: 700;
//   font-style: bold;
//   line-height: 2.75rem;
// }

// h3 {
//   font-family: "Avenir";
//   font-size: 1.5rem;
//   font-weight: 600;
//   line-height: 2rem;
// }

// header
.header {
  width: 100%;
  background-color: colors.$bandsite-black;
  color: colors.$white;
  
  &__wrapper > a {
    text-decoration: none;
  }

  &__wrapper {
    margin-left: 1rem;
    margin-right: 1rem;

    // tablet and desktop wrapper
    @include mixins.tablet {
      margin-left: 2.25rem;
      margin-right: 2.25rem;
      height: 4.375rem;
      display: flex;
      align-items: center;   
    }

    @include mixins.desktop {
      display: block;
      width: 87%;
      margin-left: auto;
      margin-right: auto;
      
      height: 4.375rem;
      display: flex;
      align-items: center;
    }
  }

  &__title {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 0.7rem; 
    padding-bottom: 0.4rem; 
    line-height: 2rem;
    color: colors.$white;
    font-size: 1.5rem;
    
    
    // desktop and tablet title
    @include mixins.tablet {
      padding-right: 3.125rem;
    }

    @include mixins.desktop {
      padding-right: 3.125rem;
    }   
  } 
}

// navlist
.nav-list {
  padding-left: 0;
  padding-bottom: 0.7rem;
  margin: 0rem;
  @include mixins.flex(center);
  
  @include mixins.tablet {
    padding: 0;
  }

  @include mixins.desktop {
   padding-bottom: 0rem;
  }

  &__item {
    list-style: none;
    color: colors.$mercury;
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    position: relative;
    font-size: 0.875rem;
    padding-right: 3.75rem;
    padding-left: 3.125rem;
    
    // desktop and tablet nav item
    @include mixins.tablet {
      padding-right: 2.25rem;
      padding-left: 0rem;
      margin: 0;
    }
    @include mixins.desktop {
      padding-right: 2.25rem;
      padding-left: 0rem;
      margin: 0;
      display: block;
    } 
  }

  // nav list hover  and active effects
  &__item:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    right: 0;
    top: 33.33%;
    z-index: 0;
    transition: all 0.5s;
  }
  &__item:after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    opacity: 30%;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
  }

  &__item > a:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s; 
  }

  &__item:hover:before,
  &__item:hover:after,
  &__item:hover a:before {
    width: 100%;
    background-color: #DA70D6;
    opacity: 20%;
  }

  &__item:active {  
    bottom: 0;
    border-bottom: 0.2em solid colors.$white;
    color: colors.$white;
    font-weight: 700;
    font-style: bold;

    @include mixins.tablet {
      margin-bottom: -1.5rem;
    }    
    @include mixins.desktop {
      margin-bottom: -1.5rem;
      
    }    
  }
  &__item:hover {  
    border-bottom: 0.2rem solid colors.$white;
    bottom: 0;
    padding-bottom: 1rem;
    color: colors.$mercury;
    position: relative;
    z-index: 1;
    @include mixins.tablet {
      margin-bottom: -1.5rem;
    }    
    @include mixins.desktop {
      margin-bottom: -1.5rem;
    }    
  }
}
.nav-list:hover {
  padding-bottom: 0rem;
}
.nav-list:active {
  padding-bottom: 0rem;
}

// footer
.footer {
  background-color: colors.$bandsite-black;
  color: colors.$white;
  padding-top: 0.5rem;
  padding: 1.5rem 1rem 1rem 1rem;

  @include mixins.tablet {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative; 
  }
  @include mixins.desktop {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative; 
  }

  &__wrapper {
    @include mixins.tablet {
      align-items: baseline;
      @include mixins.flex(space-between); 
      max-width: 50%;
    }
    @include mixins.desktop {
      @include mixins.flex(space-between); 
      align-items: baseline;
      max-width: 50%;
    }
  }
  
  // footer title
  &__title {
    margin-top: 0rem;
    font-family: 'Avenir';
    font-weight: 700;
    font-style: normal;

    @include mixins.tablet {
     font-size: 2.25rem;
    }
    @include mixins.desktop {
     font-size: 2.25rem;
    }
  }

  // footer icons
  &__icons {
    flex-direction: row;
    @include mixins.flex(space-between); 
    max-width: 30%;
  }
  
  &__icon {
    @include mixins.tablet {
      padding-left: .5rem;
      height: 1.8rem;
    }
    @include mixins.desktop {
      padding-left: .5rem;
      height: 1.8rem;
    }
  }

}

// management section
.management {
  font-family: 'Avenir';
  font-size: 0.875rem;
  &__wrapper {
   line-height: 1.375rem;
  }
  &__name{
    margin-bottom: 0rem;
    font-weight: 600;
  }
  &__group {
    margin-top: 0; 
    font-weight: 600; 
  }
  &__address {
    margin-top: 0; 
    font-weight: 400;
  }
  &__location {
    margin-top: 0; 
    font-weight: 400;
  }
  &__type {
    margin-bottom: 0;
    font-weight: 400;
  }
  &__street {
    margin-bottom: 0;
    font-weight: 400;
  }
  &__city {
    margin-top: 0;
    font-weight: 400;
  }
  &__email {
    font-weight: 400;
    color: colors.$white;
    text-decoration: none;
    cursor: pointer;
  }
  &__copyright {
    font-weight: 400;
    font-size: 0.875rem;
  }

  &__logo {
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 3.125rem;

    @include mixins.tablet {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 3.4375rem;
      padding-right: 2.25rem;
      margin-bottom:0;
      margin-top: 0rem;
      font-size: 2.25rem;
    }
    @include mixins.desktop {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 3.4375rem;
      padding-right: 2.25rem;
      margin-bottom:0;
      margin-top: 0rem;
      font-size: 2.25rem;
    }
  }

  // footer flex sections
  &__sections {
    @include mixins.tablet {
      @include mixins.flex(space-between); 
    }
    @include mixins.desktop {
      @include mixins.flex(space-between); 
    }
  }
}

.divider {
  // comments divider
  
    stroke-width: 0.0625rem;
    color: colors.$mercury;

    @include mixins.tablet {
      width: 36.25rem;
      margin: auto;
    }
    @include mixins.desktop {
      width: 36.25rem;
      margin: auto;
    }
  
}