@use './variables';
@use './colors';

// media queries
@mixin mobile {
  @media screen and (max-width: variables.$mobile-breakpoint) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: variables.$minimum-tablet-breakpoint) and (max-width: variables.$maximum-tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: variables.$minimum-desktop-breakpoint) {
    @content;
  }
}

// flex box
@mixin flex($justify-content: flex-start) {
  display: flex;
  justify-content: $justify-content;
}

@mixin hero {
  background-size: cover;
  background-position: cover;
  align-items: center;
  position: relative;
}

@mixin overlay {
  content: " ";
  background-color: colors.$bandsite-black;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}

@mixin image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

