@use './partials/colors';
@use './partials/_typography';
@use './partials/mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  background-color: colors.$bandsite-black;
  color: colors.$white;
  
  @include mixins.desktop {
    // margin: auto;
  }

  &__wrapper {
    margin-left: 16px;
    margin-right: 16px;
    @include mixins.tablet {
      display: flex;
      padding: 18px 100px 15px 100px; 
      margin: 0 auto;    
    }

    @include mixins.desktop {
      display: flex;
      padding: 18px 120px 15px 120px; 
      margin: 0 auto;  
    }
  }

  &__title {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    padding-top: 16px; 
    line-height: 32px;
    font-size: 24px;
    
    @include mixins.tablet {
      font-size: 50px;
      margin-bottom: 0px;
      padding-top: 0;
      line-height: 68px;
    }

    @include mixins.desktop {
      font-size: 50px;
      margin-bottom: 0px;
      padding-top: 0;
      line-height: 68px;
    }
  } 
}
.nav-list {
  padding-left: 0;
  padding-bottom: 16px;
  display: flex;
  margin: 0px;
  justify-content: space-evenly;
  @include mixins.tablet {
    align-items: center;

  }
  &__item {
    list-style: none;
    color: colors.$mercury;
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    @include mixins.tablet {
      padding-left: 50px;
      padding-top: 20px;
      font-size: 24px;
    }
    @include mixins.desktop {
      padding-left: 80px;
      padding-top: 20px;
      font-size: 24px;
    }
  }
}

.hero {
  background-image: url('../assets/images/hero-bio.jpg');
  background-size: cover;
  background-position: cover;
  height: 25vh;
  display: flex;
  align-items: center;
  position: relative;

  @include mixins.tablet {
    height: 50vh;
  }

  @include mixins.desktop {
    height: 60vh;
  }
  
  &__title {
    margin: 0px;
    margin-left: 16px;
    color: colors.$white;
    position: absolute;
    z-index: 1;
    font-family: "Avenir";
    font-style: bold;
    font-weight: 700;
    font-size: 24px;

    @include mixins.tablet {
      font-size: 60px;
      margin-left: 36px;
      margin-right: 36px;
    }

    @include mixins.desktop {
      font-size: 60px;
      margin-left: 40px;
      margin-right: 40px;
    }
  }
}
.hero:before {
  content: " ";
  height: 25vh;
  background-color: colors.$bandsite-black;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;

  @include mixins.tablet {
    height: 50vh;
  }

  @include mixins.desktop {
    height: 60vh;
  }
}

.musicians {

  &__wrapper {
    margin: 24px 16px 16px 16px;

    @include mixins.tablet {
      margin: 48px 36px 36px 36px;
    }

    @include mixins.desktop {
      margin: 48px 36px 36px 36px;
    }
  }
  &__image {
    background-size: cover;
    width: 100%;
    height: 100%; 
    object-fit: contain;
  }
  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-family: "Avenir";
    font-weight: 700;
    font-style: normal;

    @include mixins.tablet {
    margin-bottom: 36px;
    font-size: 36px;
    font-family: "Avenir";
    font-weight: 700;
    font-style: normal;
    }

    @include mixins.desktop {
    margin-bottom: 36px;
    font-size: 36px;
    font-family: "Avenir";
    font-weight: 700;
    font-style: normal;
    }
  
  }
}


