@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

*, body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
}
.header__wrapper > a {
  text-decoration: none;
}
.header__wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .header__wrapper {
    margin-left: 36px;
    margin-right: 36px;
    height: 70px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 79.875rem) {
  .header__wrapper {
    display: block;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    display: flex;
    align-items: center;
  }
}
.header__title {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.4rem;
  line-height: 2rem;
  color: #FFFFFF;
  font-size: 24px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .header__title {
    padding-right: 50px;
  }
}
@media screen and (min-width: 79.875rem) {
  .header__title {
    padding-right: 50px;
  }
}

.nav-list {
  padding-left: 0;
  padding-bottom: 0.7rem;
  margin: 0rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .nav-list {
    padding: 0;
  }
}
@media screen and (min-width: 79.875rem) {
  .nav-list {
    padding-bottom: 0rem;
  }
}
.nav-list__item {
  list-style: none;
  color: #E1E1E1;
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 14px;
  padding-right: 60px;
  padding-left: 50px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .nav-list__item {
    padding-right: 36px;
    padding-left: 0px;
    margin: 0;
  }
}
@media screen and (min-width: 79.875rem) {
  .nav-list__item {
    padding-right: 36px;
    padding-left: 0px;
    margin: 0;
  }
}
.nav-list__item:before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  right: 0;
  top: 33.33%;
  z-index: 0;
  transition: all 0.5s;
}
.nav-list__item:after {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  opacity: 30%;
  left: 0;
  z-index: 0;
  bottom: 0;
  transition: all 0.5s;
}
.nav-list__item > a:before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  bottom: 66.66%;
  left: 0;
  transition: all 0.5s;
}
.nav-list__item:hover:before, .nav-list__item:hover:after, .nav-list__item:hover a:before {
  width: 100%;
  background-color: #DA70D6;
  opacity: 20%;
}
.nav-list__item:active {
  bottom: 0;
  border-bottom: 0.2em solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 700;
  font-style: bold;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .nav-list__item:active {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .nav-list__item:active {
    padding-bottom: 2.25rem;
  }
}
.nav-list__item:hover {
  bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #FFFFFF;
  color: #E1E1E1;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .nav-list__item:hover {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 79.875rem) {
  .nav-list__item:hover {
    padding-bottom: 2.25rem;
  }
}

.nav-list:hover {
  padding-bottom: 0rem;
}

.nav-list:active {
  padding-bottom: 0rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-top: 0.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .footer {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 79.875rem) {
  .footer {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .footer__wrapper {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    max-width: 50%;
  }
}
@media screen and (min-width: 79.875rem) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 50%;
  }
}
.footer__title {
  margin-top: 0rem;
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .footer__title {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .footer__title {
    font-size: 2.25rem;
  }
}
.footer__icons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 30%;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .footer__icon {
    padding-left: 0.5rem;
    height: 1.8rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .footer__icon {
    padding-left: 0.5rem;
    height: 1.8rem;
  }
}

.management {
  font-family: "Avenir";
  font-size: 0.875rem;
}
.management__wrapper {
  line-height: 1.375rem;
}
.management__name {
  margin-bottom: 0rem;
  font-weight: 600;
}
.management__group {
  margin-top: 0;
  font-weight: 600;
}
.management__address {
  margin-top: 0;
  font-weight: 400;
}
.management__location {
  margin-top: 0;
  font-weight: 400;
}
.management__type {
  margin-bottom: 0;
  font-weight: 400;
}
.management__street {
  margin-bottom: 0;
  font-weight: 400;
}
.management__city {
  margin-top: 0;
  font-weight: 400;
}
.management__email {
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.management__copyright {
  font-weight: 400;
  font-size: 0.875rem;
}
.management__logo {
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 3.125rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .management__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.4375rem;
    padding-right: 2.25rem;
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .management__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.4375rem;
    padding-right: 2.25rem;
    margin-bottom: 0;
    margin-top: 0rem;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .management__sections {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 79.875rem) {
  .management__sections {
    display: flex;
    justify-content: space-between;
  }
}

hr {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 0.0625rem;
  color: #E1E1E1;
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: cover;
  height: 190px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .hero {
    height: 445px;
  }
}
@media screen and (min-width: 79.875rem) {
  .hero {
    height: 475px;
  }
}
.hero__title {
  margin: 0rem;
  margin-left: 1rem;
  color: #FFFFFF;
  z-index: 1;
  font-family: "Avenir";
  font-weight: 600;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .hero__title {
    font-size: 3.75rem;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .hero__title {
    font-size: 43px;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.hero:before {
  content: " ";
  height: 190px;
  background-color: #323232;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .hero:before {
    height: 445px;
  }
}
@media screen and (min-width: 79.875rem) {
  .hero:before {
    height: 475px;
  }
}

.musicians {
  font-family: "Avenir";
}
.musicians__title {
  padding: 18px 1rem 10px 1rem;
  padding-top: 18px;
  font-weight: 600;
  font-style: normal;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .musicians__title {
    padding: 40px 36px 25px 36px;
    font-size: 36px;
  }
}
@media screen and (min-width: 79.875rem) {
  .musicians__title {
    padding: 36px 36px 25px 0px;
    font-size: 36px;
    margin-left: 5rem;
  }
}
.musicians__image {
  margin: 0rem 1rem;
  background-image: url("../assets/images/band.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 160px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .musicians__image {
    height: 300px;
    width: 580px;
    margin: auto;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 79.875rem) {
  .musicians__image {
    height: 450px;
    width: 970px;
    margin: auto;
    margin-bottom: 24px;
  }
}

.band-quote {
  padding: 16px 16px 24px 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .band-quote {
    margin: auto;
    width: 580px;
    padding: 0;
  }
}
@media screen and (min-width: 79.875rem) {
  .band-quote {
    margin: auto;
    width: 970px;
    padding: 0;
  }
}
.band-quote__statement {
  font-family: "Avenir";
  font-weight: 600;
  font-style: normal;
  line-height: 22px;
  font-size: 0.875rem;
  margin-top: 0rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .band-quote__statement {
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 79.875rem) {
  .band-quote__statement {
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 0.625rem;
    max-width: 540px;
  }
}
.band-quote__writter {
  font-family: "Avenir";
  font-weight: 600;
  line-height: 1.625rem;
  font-size: 0.875rem;
  margin-top: 0rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .band-quote__writter {
    font-size: 16px;
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .band-quote__writter {
    font-size: 16px;
    margin-bottom: 0rem;
  }
}

.band-info {
  margin: 0rem 1rem 0px 1rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .band-info {
    margin: auto;
    width: 580px;
  }
}
@media screen and (min-width: 79.875rem) {
  .band-info {
    margin: auto;
    width: 970px;
  }
}
.band-info__title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .band-info__title {
    padding-top: 48px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .band-info__title {
    padding-top: 48px;
    font-size: 1.5rem;
  }
}
.band-info__description {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .band-info__description {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 79.875rem) {
  .band-info__description {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}
.band-info__description--right {
  line-height: 18px;
  font-size: 13.3px;
  padding-bottom: 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .band-info__description--right {
    line-height: 22px;
    font-size: 14px;
    padding-right: 16px;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 79.875rem) {
  .band-info__description--right {
    line-height: 22px;
    font-size: 14px;
    padding-right: 16px;
    padding-bottom: 36px;
  }
}
.band-info__description--left {
  line-height: 18px;
  font-size: 13.4px;
  padding-bottom: 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .band-info__description--left {
    line-height: 22px;
    font-size: 14px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 79.875rem) {
  .band-info__description--left {
    line-height: 22px;
    font-size: 14px;
    padding-bottom: 30px;
  }
}

.gallery {
  -webkit-backdrop-filter: brightness(97%);
          backdrop-filter: brightness(97%);
  display: flex;
  flex-direction: column;
}
.gallery__title {
  font-family: "Avenir";
  font-weight: 600;
  margin: 1.5rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .gallery__title {
    margin: 0rem 2.25rem;
    padding-top: 40px;
    padding-bottom: 24px;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .gallery__title {
    margin: 0rem 80px;
    padding-top: 40px;
    padding-bottom: 24px;
    font-size: 2.25rem;
  }
}
.gallery__wrapper {
  padding-bottom: 0.5rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .gallery__wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 79.875rem) {
  .gallery__wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-left: 68px;
    padding-right: 68px;
  }
}
.gallery__image {
  display: block;
  background-size: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
  padding: 0.5rem 1rem 0.5rem 1rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .gallery__image {
    width: 33%;
    height: 33%;
    padding: 0rem 12px 24px 12px;
  }
}
@media screen and (min-width: 79.875rem) {
  .gallery__image {
    width: 33%;
    height: 33%;
    padding: 0rem 12px 24px 12px;
  }
}
.gallery__image:hover {
  filter: none;
  cursor: pointer;
}

.comments-form {
  padding: 0rem 1rem 0rem 1rem;
  font-family: "Avenir";
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form {
    margin: 0rem 2.25rem;
    padding: 0;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form {
    margin: 0rem 2.25rem;
    padding: 0;
  }
}
.comments-form__title {
  font-weight: 600;
  padding: 16px 0px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form__title {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form__title {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form__main {
    width: 580px;
    margin: auto;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form__main {
    width: 580px;
    margin: auto;
  }
}
.comments-form__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.comments-form__avatar {
  align-self: flex-end;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form__avatar {
    width: 47px;
    height: 47px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form__avatar {
    width: 47px;
    height: 47px;
  }
}
.comments-form__name {
  font-weight: 600;
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 10px;
  display: block;
  padding-bottom: 4px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form__name {
    font-size: 12px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form__name {
    font-size: 12px;
  }
}
.comments-form__input[type=text] {
  width: 100%;
  border-radius: 0.3125rem;
  border: 1px solid #E1E1E1;
  padding: 10px 0px 10px 10px;
  background-color: rgba(246, 246, 246, 0.7);
  height: 31px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form__input[type=text] {
    padding: 22px 0px 22px 22px;
    height: 18px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form__input[type=text] {
    padding: 22px 0px 22px 22px;
    height: 18px;
  }
}
.comments-form__input[type=text]::-moz-placeholder {
  font-family: "Avenir";
  color: #323232;
  width: 100%;
  font-size: 13px;
  padding: 10px 0px 10px 0px;
}
.comments-form__input[type=text]:-ms-input-placeholder {
  font-family: "Avenir";
  color: #323232;
  width: 100%;
  font-size: 13px;
  padding: 10px 0px 10px 0px;
}
.comments-form__input[type=text]::placeholder {
  font-family: "Avenir";
  color: #323232;
  width: 100%;
  font-size: 13px;
  padding: 10px 0px 10px 0px;
}
.comments-form__input[type=text]:focus {
  outline: 1px solid #323232;
}
.comments-form__container {
  width: 100%;
  padding-left: 16px;
}
.comments-form__text-area {
  padding-left: 50px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form__text-area {
    padding-left: 62px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form__text-area {
    padding-left: 62px;
  }
}
.comments-form__comment {
  font-weight: 600;
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 10px;
  display: block;
  padding-bottom: 4px;
  padding-top: 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form__comment {
    font-size: 12px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form__comment {
    font-size: 12px;
  }
}
.comments-form__description[type=text] {
  width: 100%;
  border-radius: 0.3125rem;
  border: 1px solid #E1E1E1;
  background-color: rgba(246, 246, 246, 0.7);
  padding: 10px 0px 0px 10px;
}
.comments-form__description[type=text]::-moz-placeholder {
  font-family: "Avenir";
  color: #323232;
  width: 100%;
  font-size: 13px;
  padding: 0px 0px 0px 0px;
}
.comments-form__description[type=text]:-ms-input-placeholder {
  font-family: "Avenir";
  color: #323232;
  width: 100%;
  font-size: 13px;
  padding: 0px 0px 0px 0px;
}
.comments-form__description[type=text]::placeholder {
  font-family: "Avenir";
  color: #323232;
  width: 100%;
  font-size: 13px;
  padding: 0px 0px 0px 0px;
}
.comments-form__description:focus {
  outline: 1px solid #323232;
}
.comments-form__button-wrapper {
  padding-left: 50px;
  margin-top: 10px;
  margin-bottom: 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments-form__button-wrapper {
    margin-top: 22px;
    margin-bottom: 24px;
    padding-left: 420px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments-form__button-wrapper {
    margin-top: 22px;
    margin-bottom: 24px;
    padding-left: 420px;
  }
}
.comments-form__button {
  color: #FFFFFF;
  background-color: #323232;
  width: 100%;
  padding: 10px 0px;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #323232;
}

.comments {
  font-family: "Avenir";
  padding: 0rem 1rem 1rem 1rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments {
    margin: 0rem 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments {
    margin: 0rem 2.25rem;
  }
}
.comments__container {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments__container {
    width: 580px;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments__container {
    width: 580px;
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.comments__flex-1 {
  display: flex;
  justify-content: space-between;
  height: 24px;
}
.comments__one {
  display: flex;
}
.comments__avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #E1E1E1;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments__avatar {
    width: 47px;
    height: 47px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments__avatar {
    width: 47px;
    height: 47px;
  }
}
.comments__name {
  font-weight: 600;
  font-size: 13px;
  padding-left: 16px;
}
.comments__flex-2 {
  padding-left: 50px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments__flex-2 {
    padding-left: 62px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments__flex-2 {
    padding-left: 62px;
  }
}
.comments__description {
  font-size: 13px;
  line-height: 18px;
  margin-top: 0rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .comments__description {
    font-size: 14px;
  }
}
@media screen and (min-width: 79.875rem) {
  .comments__description {
    font-size: 14px;
  }
}
.comments__date {
  font-size: 13px;
  color: #AFAFAF;
  margin: 0;
}
.comments__divider {
  stroke-width: 1px;
  color: #E1E1E1;
}
/*# sourceMappingURL=bio.css.map *//*# sourceMappingURL=bio.css.map */