@use './partials/colors';
@use './partials/_typography';
@use './partials/mixins';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

// header
.header {
  width: 100%;
  background-color: colors.$bandsite-black;
  color: colors.$white;

  &__wrapper > a {
    text-decoration: none;
  }

  &__wrapper {
    margin-left: 1rem;
    margin-right: 1rem;

    // tablet and desktop wrapper
    @include mixins.tablet {
      display: flex;
      align-content: center;
      padding: 2.25rem 2.25rem 0rem 2.25rem; 
      
    }
    @include mixins.desktop {
      display: flex;
      align-content: center;
      padding: 2.25rem 2.25rem 0rem 2.25rem;
      margin-top: 0;     
      margin-right: 0; 
    }
  }

  &__title {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    text-align: center;
    padding-top: 1rem; 
    line-height: 2rem;
    color: colors.$white;
    
    // desktop and tablet title
    @include mixins.tablet {
      margin-bottom: 0rem;
      padding-top: 0;
      padding-bottom: 2.25rem;
      margin-right: 2.25rem;
    }
    @include mixins.desktop {
      margin-bottom: 0rem;
      padding-top: 0;
      padding-bottom: 2.5rem;
      margin-right: 4rem;
      padding-left: 2rem;
      font-size: 2.25rem;
    }   
  } 
}

// navlist
.nav-list {
  padding-left: 0;
  padding-bottom: 1rem;
  margin: 0rem;
  @include mixins.flex(space-evenly);
  
  // desktop and tablet navlist
  @include mixins.tablet {
   padding-bottom: 0rem;
  }
  @include mixins.desktop {
   padding-bottom: 0rem;
  }

  &__item {
    list-style: none;
    color: colors.$mercury;
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    position: relative;
    
    // desktop and tablet nav item
    @include mixins.tablet {
      margin-right: 2.25rem;
      font-size: 1.5rem;
    }
    @include mixins.desktop {
      margin-right: 2.25rem;
      font-size: 1.5rem;
    } 
  }

  // nav list hover  and active effects
  &__item:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    right: 0;
    top: 33.33%;
    z-index: 0;
    transition: all 0.5s;
  }
  &__item:after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    opacity: 30%;
    left: 0;
    z-index: 0;
    bottom: 0;
    transition: all 0.5s;
  }

  &__item > a:before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    bottom: 66.66%;
    left: 0;
    transition: all 0.5s; 
  }

  &__item:hover:before,
  &__item:hover:after,
  &__item:hover a:before {
    width: 100%;
    background-color: #DA70D6;
    opacity: 20%;
  }

  &__item:active {  
    bottom: 0;
    padding-bottom: 1rem;
    border-bottom: 0.2em solid colors.$white;
    color: colors.$white;
    font-weight: 700;
    font-style: bold;

    @include mixins.tablet {
      padding-bottom: 2.25rem;
    }    
    @include mixins.desktop {
      padding-bottom: 2.25rem;
    }    
  }
  &__item:hover {  
    bottom: 0;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid colors.$white;
    color: colors.$mercury;
   position: relative;
  z-index: 1;
    @include mixins.tablet {
      padding-bottom: 2.25rem;
    }    
    @include mixins.desktop {
      padding-bottom: 2.25rem;
    }    
  }
}
.nav-list:hover {
  padding-bottom: 0rem;
}
.nav-list:active {
  padding-bottom: 0rem;
}

// hero section
.hero {
  background-image: url('../assets/images/hero-bio.jpg');
  background-size: cover;
  background-position: cover;
  height: 29vh;
  display: flex;
  align-items: center;
  position: relative;
  
  // desktop and tablet hero
  @include mixins.tablet {
    height: 50vh;
  }
  @include mixins.desktop {
    height: 60vh;
  }
  
  &__title {
    margin: 0rem;
    margin-left: 1rem;
    color: colors.$white;
    position: absolute;
    z-index: 1;
    font-family: "Avenir";
    font-weight: 700;

    // tablet and desktop hero title
    @include mixins.tablet {
      font-size: 3.75rem;
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }
    @include mixins.desktop {
      font-size: 3.75rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
}

// hero overlay
.hero:before {
  content: " ";
  height: 29vh;
  background-color: colors.$bandsite-black;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;

  // tablet and desktop overlay
  @include mixins.tablet {
    height: 50vh;
  }
  @include mixins.desktop {
    height: 60vh;
  }
}

// musician section
.musicians {
  &__wrapper {
    margin: 1.5rem 1rem 1rem 1rem;
 
    // tablet and desktop musician wrapper
    @include mixins.tablet {
      margin: 3rem 2.25rem 2.25rem 2.25rem;
    }
    @include mixins.desktop {
      margin: 3rem 2.25rem 2.25rem 4rem;
    }
  }

  &__image {
    background-size: cover;
    width:100%;
    height: auto; 
    object-fit: contain;
    
    // tablet and desktop musician image
    @include mixins.tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
    @include mixins.desktop {
      padding-left: 3rem;
      padding-right: 3rem;
    }   
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Avenir";
    font-weight: 700;
    font-style: normal;

    @include mixins.tablet {
    margin-bottom: 2.25rem;
    font-size: 2.25rem;
    }

    @include mixins.desktop {
    margin-bottom: 2.25rem;
    font-size: 2.25rem;
    }
  }
}

// band quotation
.band-quote {
  margin: 1.5rem 1rem 1rem 1rem;
  
  // tablet and desktop quotation
  @include mixins.tablet {
    margin: 0rem 4.5rem 0rem 4.5rem;
  }
  @include mixins.desktop {
    margin: 3rem 4rem 2.25rem 4rem;
  }
  &__statement {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 2rem;
    font-size: 0.875rem;
    margin-bottom: 0.3125rem;
    margin-top: 0rem;

    @include mixins.tablet {
    line-height: 2.75rem;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    }

    @include mixins.desktop {
    line-height: 2.75rem;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    padding-left: 2.25rem;
    }  
  }

  &__writter {
  font-family: "Avenir";
  font-weight: 700;
  line-height: 1.625rem;
  font-size: 0.875rem;
  margin-top: 0rem;

  @include mixins.tablet {
    line-height: 2.25rem;
    font-size: 1.125rem;
    margin-bottom: 0rem;
    }

  @include mixins.desktop{
    line-height: 2.25rem;
    font-size: 1.125rem;
    margin-bottom: 0rem;
    padding-left: 2.25rem;
  }
  }
}

// band info section
.band-info {
  margin: 1.5rem 1rem 1rem 1rem;

  @include mixins.tablet {
    margin: 3rem 2.25rem 2.25rem 2.25rem;
  }

  @include mixins.desktop {
    margin: 3rem 4rem 2.25rem 4rem;
  }
  &__title {
    font-family: "Avenir";
    font-weight: 700;
    font-size: 1.125rem;

    @include mixins.tablet {
      font-size: 1.5rem;
      padding-left: 2.25rem;
      margin: 0;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
    }
    @include mixins.desktop {
      font-size: 1.5rem;
      padding-left: 2.25rem;
      margin: 0;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
    }
  }

  &__description {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    line-height: 1.375rem;
    font-size: 0.875rem;

    &--right {
      @include mixins.tablet {
        padding-right: 0.9375rem;
        padding-left: 2.25rem;
      }
      @include mixins.desktop {
        padding-right: 0.9375rem;
        padding-left: 2.25rem;
      }
    }
    &--left {
      @include mixins.tablet {
        padding-left: 0.9375rem;
        padding-right: 2.25rem;
      }
      @include mixins.desktop {
        padding-left: 0.9375rem;
        padding-right: 2.25rem;
      }
      
    }

    // tablet and desktop description
    @include mixins.tablet {
    line-height: 2rem;
    font-size: 1.125rem;
    @include mixins.flex(space-between); 
    margin: 0;
    }
    @include mixins.desktop {
    line-height: 32px;
    font-size: 1.125rem;  
    @include mixins.flex(space-between); 
    margin: 0;
    }  
  }
}

// gallery
.gallery {
  backdrop-filter: brightness(97%);
  display: flex;
  flex-direction: column;

  &__wrapper {
    padding-bottom: 0.5rem;
    @include mixins.tablet {
      flex-wrap: wrap;
      @include mixins.flex(space-between); 
      margin: 0rem 1.125rem 0rem 1.125rem;
    }
    @include mixins.desktop {
      flex-wrap: wrap;
      @include mixins.flex(space-between); 
      margin: 0rem 1.125rem 0rem 1.125rem;
    }
  }

  &__image {
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%; 
    object-fit: contain;
    filter: grayscale(100%);
    padding: 0.5rem 1rem 0.5rem 1rem;

    // tablet and desktop images
    @include mixins.tablet {
      width: 33%;
      height: 33%;
      padding: 0rem;
      padding: 0rem 1.125rem 2.25rem 1.125rem;      
    }
    @include mixins.desktop {
      width: 33%;
      height: 33%;
      padding: 0rem;
      padding: 0rem 1.125rem 2.25rem 1.125rem;      
    }  
  }

  &__image:hover {
    filter: none;
    cursor: pointer;
  }
  
  &__title {
    font-family: "Avenir";
    font-weight: 700;
    margin: 1.5rem 1rem 0.5rem 1rem; 


    // tablet and desktop gallery title
    @include mixins.tablet {
      margin: 0rem 2.25rem ;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
      font-size: 2.25rem;
     
    }
    @include mixins.desktop {
      margin: 0rem 2.25rem ;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
      font-size: 2.25rem;   
    }
  }
}

// footer
.footer {
  background-color: colors.$bandsite-black;
  color: colors.$white;
  padding-top: 0.5rem;
  padding: 1.5rem 1rem 1rem 1rem;

  @include mixins.tablet {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative; 
  }
  @include mixins.desktop {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative; 
  }

  &__wrapper {
    @include mixins.tablet {
      align-items: baseline;
      @include mixins.flex(space-between); 
      max-width: 50%;
    }
    @include mixins.desktop {
      @include mixins.flex(space-between); 
      align-items: baseline;
      max-width: 50%;
    }
  }
  
  // footer title
  &__title {
    margin-top: 0rem;
    font-family: 'Avenir';
    font-weight: 700;
    font-style: normal;

    @include mixins.tablet {
     font-size: 2.25rem;
    }
    @include mixins.desktop {
     font-size: 2.25rem;
    }
  }

  // footer icons
  &__icons {
    flex-direction: row;
    @include mixins.flex(space-between); 
    max-width: 30%;
  }
  
  &__icon {
    @include mixins.tablet {
      padding-left: .5rem;
      height: 1.8rem;
    }
    @include mixins.desktop {
      padding-left: .5rem;
      height: 1.8rem;
    }
  }

}

// management section
.management {
  font-family: 'Avenir';
  font-size: 0.875rem;
  &__wrapper {
   line-height: 1.375rem;
  }
  &__name{
    margin-bottom: 0rem;
    font-weight: 600;
  }
  &__group {
    margin-top: 0; 
    font-weight: 600; 
  }
  &__address {
    margin-top: 0; 
    font-weight: 400;
  }
  &__location {
    margin-top: 0; 
    font-weight: 400;
  }
  &__type {
    margin-bottom: 0;
    font-weight: 400;
  }
  &__street {
    margin-bottom: 0;
    font-weight: 400;
  }
  &__city {
    margin-top: 0;
    font-weight: 400;
  }
  &__email {
    font-weight: 400;
    color: colors.$white;
    text-decoration: none;
    cursor: pointer;
  }
  &__copyright {
    font-weight: 400;
    font-size: 0.875rem;
  }

  &__logo {
    font-weight: 400;
    font-size: 1.5rem;
    padding-top: 3.125rem;

    @include mixins.tablet {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 3.4375rem;
      padding-right: 2.25rem;
      margin-bottom:0;
      margin-top: 0px;
      font-size: 2.25rem;
    }
    @include mixins.desktop {
      position: absolute;
      top: 0;
      right: 0;
      padding-top: 3.4375rem;
      padding-right: 2.25rem;
      margin-bottom:0;
      margin-top: 0rem;
      font-size: 2.25rem;
    }
  }

  // footer flex sections
  &__sections {
    @include mixins.tablet {
      @include mixins.flex(space-between); 
    }
    @include mixins.desktop {
      @include mixins.flex(space-between); 
    }
  }
}

