@use './partials/colors';
@use './partials/_typography';
@use './partials/mixins';
@use './partials/globals';

// hero section
.hero {
  background-image: url('../assets/images/hero-bio.jpg');
  background-size: cover;
  background-position: cover;
  height: 29vh;
  display: flex;
  align-items: center;
  position: relative;
  
  // desktop and tablet hero
  @include mixins.tablet {
    height: 50vh;
  }
  @include mixins.desktop {
    height: 60vh;
  }
  
  &__title {
    margin: 0rem;
    margin-left: 1rem;
    color: colors.$white;
     
    font-family: "Avenir";
    font-weight: 700;

    // tablet and desktop hero title
    @include mixins.tablet {
      font-size: 3.75rem;
      margin-left: 2.25rem;
      margin-right: 2.25rem;
    }
    @include mixins.desktop {
      font-size: 3.75rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
}

// hero overlay
.hero:before {
  content: " ";
  height: 29vh;
  background-color: colors.$bandsite-black;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;

  // tablet and desktop overlay
  @include mixins.tablet {
    height: 50vh;
  }
  @include mixins.desktop {
    height: 60vh;
  }
}

// musician section
.musicians {
  &__wrapper {
    margin: 1.5rem 1rem 1rem 1rem;
 
    // tablet and desktop musician wrapper
    @include mixins.tablet {
      margin: 3rem 2.25rem 2.25rem 2.25rem;
    }
    @include mixins.desktop {
      margin: 3rem 2.25rem 2.25rem 4rem;
    }
  }

  &__image {
    background-size: cover;
    width:100%;
    height: auto; 
    object-fit: contain;
    
    // tablet and desktop musician image
    @include mixins.tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }
    @include mixins.desktop {
      padding-left: 3rem;
      padding-right: 3rem;
    }   
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Avenir";
    font-weight: 700;
    font-style: normal;

    @include mixins.tablet {
    margin-bottom: 2.25rem;
    font-size: 2.25rem;
    }

    @include mixins.desktop {
    margin-bottom: 2.25rem;
    font-size: 2.25rem;
    }
  }
}

// band quotation
.band-quote {
  margin: 1.5rem 1rem 1rem 1rem;
  
  // tablet and desktop quotation
  @include mixins.tablet {
    margin: 0rem 4.5rem 0rem 4.5rem;
  }
  @include mixins.desktop {
    margin: 3rem 4rem 2.25rem 4rem;
  }
  &__statement {
    font-family: "Avenir";
    font-weight: 700;
    line-height: 2rem;
    font-size: 0.875rem;
    margin-bottom: 0.3125rem;
    margin-top: 0rem;

    @include mixins.tablet {
    line-height: 2.75rem;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    }

    @include mixins.desktop {
    line-height: 2.75rem;
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    padding-left: 2.25rem;
    }  
  }

  &__writter {
  font-family: "Avenir";
  font-weight: 700;
  line-height: 1.625rem;
  font-size: 0.875rem;
  margin-top: 0rem;

  @include mixins.tablet {
    line-height: 2.25rem;
    font-size: 1.125rem;
    margin-bottom: 0rem;
    }

  @include mixins.desktop{
    line-height: 2.25rem;
    font-size: 1.125rem;
    margin-bottom: 0rem;
    padding-left: 2.25rem;
  }
  }
}

// band info section
.band-info {
  margin: 1.5rem 1rem 1rem 1rem;

  @include mixins.tablet {
    margin: 3rem 2.25rem 2.25rem 2.25rem;
  }

  @include mixins.desktop {
    margin: 3rem 4rem 2.25rem 4rem;
  }

  &__title {
    font-family: "Avenir";
    font-weight: 700;
    font-size: 1.125rem;

    @include mixins.tablet {
      font-size: 1.5rem;
      padding-left: 2.25rem;
      margin: 0;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
    }
    @include mixins.desktop {
      font-size: 1.5rem;
      padding-left: 2.25rem;
      margin: 0;
      padding-bottom: 2.25rem;
      padding-top: 3rem;
    }
  }

  &__description {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    line-height: 1.375rem;
    font-size: 0.875rem;

    &--right {
      @include mixins.tablet {
        padding-right: 0.9375rem;
        padding-left: 2.25rem;
      }
      @include mixins.desktop {
        padding-right: 0.9375rem;
        padding-left: 2.25rem;
      }
    }
    &--left {
      @include mixins.tablet {
        padding-left: 0.9375rem;
        padding-right: 2.25rem;
      }
      @include mixins.desktop {
        padding-left: 0.9375rem;
        padding-right: 2.25rem;
      }
      
    }

    // tablet and desktop description
    @include mixins.tablet {
    line-height: 2rem;
    font-size: 1.125rem;
    @include mixins.flex(space-between); 
    margin: 0;
    }
    @include mixins.desktop {
    line-height: 32px;
    font-size: 1.125rem;  
    @include mixins.flex(space-between); 
    margin: 0;
    }  
  }
}

// gallery
.gallery {
  backdrop-filter: brightness(97%);
  display: flex;
  flex-direction: column;

  &__wrapper {
    padding-bottom: 0.5rem;
    @include mixins.tablet {
      flex-wrap: wrap;
      @include mixins.flex(space-between); 
      margin: 0rem 1.125rem 0rem 1.125rem;
    }
    @include mixins.desktop {
      flex-wrap: wrap;
      @include mixins.flex(space-between); 
      margin: 0rem 1.125rem 0rem 1.125rem;
    }
  }

  &__image {
    display: block;
    background-size: cover;
    width: 100%;
    height: 100%; 
    object-fit: contain;
    filter: grayscale(100%);
    padding: 0.5rem 1rem 0.5rem 1rem;

    // tablet and desktop images
    @include mixins.tablet {
      width: 33%;
      height: 33%;
      padding: 0rem;
      padding: 0rem 1.125rem 2.25rem 1.125rem;      
    }
    @include mixins.desktop {
      width: 33%;
      height: 33%;
      padding: 0rem;
      padding: 0rem 1.125rem 2.25rem 1.125rem;      
    }  
  }

  // Image hover effects
  &__image:hover {
    filter: none;
    cursor: pointer;
  }
  
  &__title {
    font-family: "Avenir";
    font-weight: 700;
    margin: 1.5rem 1rem 0.5rem 1rem; 


    // tablet and desktop gallery title
    @include mixins.tablet {
      margin: 0rem 2.25rem ;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
      font-size: 2.25rem;
     
    }
    @include mixins.desktop {
      margin: 0rem 2.25rem ;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
      font-size: 2.25rem;   
    }
  }
}

.comments-form {
  padding: 1.5rem 1rem 1rem 1rem;
  font-family: "Avenir";
  @include mixins.tablet {
    margin: 0rem 2.25rem;
    padding: 0;
  }

  &__main {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    @include mixins.tablet {
      justify-content: center;
    }

    @include mixins.desktop {
      justify-content: center;
      width: 100%;
    }
  }

  &__avatar {
  vertical-align:auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 16px; 
  margin-top: 30px;

  @include mixins.tablet {
    vertical-align:auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px; 
    margin-top: 30px;
  }
  @include mixins.desktop {
    vertical-align:auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px; 
    margin-top: 30px;
  }
  }

  &__title {
  font-weight: 700; 
  
  @include mixins.tablet {
    font-size: 2.25rem;
  }
  }

  &__wrapper { 
    width: 100%;
    @include mixins.tablet {
      width: 70%;
    }
    @include mixins.desktop {
      width: 50%;
    }
  }
  &__name {
    padding-bottom: 10px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: colors.$silver; 
    
      
  }
  &__input {
    padding:20px;
    width: 100%;
    overflow: hidden;
    flex: 2;
    border-radius: 5px;
    border: 2px solid colors.$silver;
    background-color: colors.$mercury;
    opacity: 0.3;

    &::placeholder {
      font-size: 20px;
      opacity: 1;
      z-index: 1;
      
     }
    
  }

  &__input:focus {
    outline: 2px solid colors.$bandsite-black;
  }

  &__comment { 
    padding-bottom: 10px;
    margin-top: 16;
    margin-bottom: 0px;
    font-weight: 400;
    text-transform: uppercase;
    color: colors.$silver; 
  }
  &__description {
    width: 100%;
    flex: 2;
    border: 2px solid colors.$silver;
    border-radius: 5px;
    opacity: 0.3;
    background-color: colors.$mercury;
    color: black;
    margin-bottom: 3px;
    &::placeholder { 
      opacity:1;
      font-size: 20px;
      padding: 10px
    }
  }
  &__description:focus {
    outline: 2px solid colors.$bandsite-black;
  }

  &__button {
    color: colors.$white;
    background-color: colors.$bandsite-black;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    padding: 16px 0px 16px 0px;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid colors.$bandsite-black;
    font-size: 20px;
    @include mixins.tablet {
      width: 30%;
      float: right;
      padding: 10px 0px 10px 0px;
    }
    @include mixins.tablet {
      width: 30%;
      float: right;
      padding: 10px 0px 10px 0px;
    }
    @include mixins.desktop {
      width: 30%;
      float: right;
      padding: 10px 0px 10px 0px;
    }
  }
}
.comments {
  font-family: "Avenir";
  padding: 0rem 1rem 1rem 1rem;

  @include mixins.tablet {
    margin: 0rem 2.25rem;
  }
  &__container {
    display: flex;
    flex-direction: column;

    @include mixins.desktop {
      padding-left: 22%;
      justify-content: center;
      width: 80%;
    }
  }
  &__flex-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mixins.tablet {
    padding-left: 8.5%;
    padding-right: 8.5%;
    }
  }

  &__one {
    display: flex;
    align-items: center;
  }

  &__avatar {
  vertical-align:auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 16px; 
  margin-top: 30px;

  @include mixins.tablet {
  vertical-align:auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px; 
  margin-top: 30px;
  }
  
  @include mixins.desktop {
  vertical-align:auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px; 
  margin-top: 30px;
  }
  
  }
  &__name {
    font-weight: 600;
    font-size: 20px;
    margin: 0;   
  }

  &__description {
    margin-left: 76px;
    margin-top: 0px;
    line-height: 22px;

    @include mixins.tablet {
      padding-left: 12%;
      padding-right: 8%;
    }
    @include mixins.desktop {
      padding-left: 20px;
    }
  }
  &__date {
    color: colors.$silver;
    margin: 0;
  }
}



