@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
}
.header__wrapper > a {
  text-decoration: none;
}
.header__wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .header__wrapper {
    display: flex;
    align-content: center;
    padding: 2.25rem 2.25rem 0rem 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .header__wrapper {
    display: flex;
    align-content: center;
    padding: 2.25rem 2.25rem 0rem 2.25rem;
    margin-top: 0;
    margin-right: 0;
  }
}
.header__title {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  text-align: center;
  padding-top: 1rem;
  line-height: 2rem;
  color: #FFFFFF;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .header__title {
    margin-bottom: 0rem;
    padding-top: 0;
    padding-bottom: 2.25rem;
    margin-right: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .header__title {
    margin-bottom: 0rem;
    padding-top: 0;
    padding-bottom: 2.5rem;
    margin-right: 4rem;
    padding-left: 2rem;
    font-size: 2.25rem;
  }
}

.nav-list {
  padding-left: 0;
  padding-bottom: 1rem;
  margin: 0rem;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .nav-list {
    padding-bottom: 0rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .nav-list {
    padding-bottom: 0rem;
  }
}
.nav-list__item {
  list-style: none;
  color: #E1E1E1;
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  position: relative;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .nav-list__item {
    margin-right: 2.25rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .nav-list__item {
    margin-right: 2.25rem;
    font-size: 1.5rem;
  }
}
.nav-list__item:before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  right: 0;
  top: 33.33%;
  z-index: 0;
  transition: all 0.5s;
}
.nav-list__item:after {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  opacity: 30%;
  left: 0;
  z-index: 0;
  bottom: 0;
  transition: all 0.5s;
}
.nav-list__item > a:before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  bottom: 66.66%;
  left: 0;
  transition: all 0.5s;
}
.nav-list__item:hover:before, .nav-list__item:hover:after, .nav-list__item:hover a:before {
  width: 100%;
  background-color: #DA70D6;
  opacity: 20%;
}
.nav-list__item:active {
  bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 0.2em solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 700;
  font-style: bold;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .nav-list__item:active {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .nav-list__item:active {
    padding-bottom: 2.25rem;
  }
}
.nav-list__item:hover {
  bottom: 0;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #FFFFFF;
  color: #E1E1E1;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .nav-list__item:hover {
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .nav-list__item:hover {
    padding-bottom: 2.25rem;
  }
}

.nav-list:hover {
  padding-bottom: 0rem;
}

.nav-list:active {
  padding-bottom: 0rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-top: 0.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .footer {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 79.875rem) {
  .footer {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .footer__wrapper {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    max-width: 50%;
  }
}
@media screen and (min-width: 79.875rem) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 50%;
  }
}
.footer__title {
  margin-top: 0rem;
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .footer__title {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .footer__title {
    font-size: 2.25rem;
  }
}
.footer__icons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 30%;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .footer__icon {
    padding-left: 0.5rem;
    height: 1.8rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .footer__icon {
    padding-left: 0.5rem;
    height: 1.8rem;
  }
}

.management {
  font-family: "Avenir";
  font-size: 0.875rem;
}
.management__wrapper {
  line-height: 1.375rem;
}
.management__name {
  margin-bottom: 0rem;
  font-weight: 600;
}
.management__group {
  margin-top: 0;
  font-weight: 600;
}
.management__address {
  margin-top: 0;
  font-weight: 400;
}
.management__location {
  margin-top: 0;
  font-weight: 400;
}
.management__type {
  margin-bottom: 0;
  font-weight: 400;
}
.management__street {
  margin-bottom: 0;
  font-weight: 400;
}
.management__city {
  margin-top: 0;
  font-weight: 400;
}
.management__email {
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.management__copyright {
  font-weight: 400;
  font-size: 0.875rem;
}
.management__logo {
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 3.125rem;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .management__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.4375rem;
    padding-right: 2.25rem;
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .management__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.4375rem;
    padding-right: 2.25rem;
    margin-bottom: 0;
    margin-top: 0rem;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .management__sections {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 79.875rem) {
  .management__sections {
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  color: #FFFFFF;
  font-family: "Avenir";
  display: flex;
  flex-direction: column;
}
.hero__wrapper {
  position: relative;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  padding: 32px 16px 32px 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .hero__wrapper {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .hero__wrapper {
    top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.hero__wrapper::before {
  content: " ";
  background-color: #323232;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
@media screen and (min-width: 79.875rem) {
  .hero__info-wrapper {
    margin-right: 20px;
  }
}
.hero__title {
  z-index: 3;
  margin-top: 0;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .hero__title {
    font-size: 24px;
  }
}
@media screen and (min-width: 79.875rem) {
  .hero__title {
    font-size: 24px;
  }
}
.hero__sample-title {
  z-index: 3;
  font-size: 36px;
  font-weight: 600px;
  margin-top: 0;
  max-width: 50%;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .hero__sample-title {
    font-size: 40px;
    max-width: 60%;
  }
}
@media screen and (min-width: 79.875rem) {
  .hero__sample-title {
    font-size: 3.75rem;
    max-width: 80%;
    margin: 0px;
  }
}
.hero__video-wrapper {
  width: 60%;
  height: 150px;
  z-index: 3;
}
@media screen and (min-width: 79.875rem) {
  .hero__video-wrapper {
    width: 60%;
    margin-top: 40px;
  }
}

.shows {
  padding: 32px 16px 32px 16px;
  font-family: "Avenir";
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .shows {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 79.875rem) {
  .shows {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 3rem 5rem 5rem;
  }
}
.shows__label-wrapper {
  display: none;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .shows__label-wrapper {
    display: flex;
  }
}
@media screen and (min-width: 79.875rem) {
  .shows__label-wrapper {
    display: none;
  }
}
.shows__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .shows__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 79.875rem) {
  .shows__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
}
.shows__title {
  font-size: 30px;
}
@media screen and (min-width: 79.875rem) {
  .shows__title {
    padding-right: 10%;
    font-size: 2.25rem;
    font-weight: 600;
  }
}
.shows__label {
  text-transform: uppercase;
  color: #AFAFAF;
  font-weight: 600;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .shows__label--tablet-desktop {
    display: none;
  }
}
@media screen and (min-width: 79.875rem) {
  .shows__label--tablet-desktop {
    display: none;
  }
}
.shows__date {
  font-weight: 600;
}
@media screen and (min-width: 79.875rem) {
  .shows__date {
    width: 200px;
    line-height: 22px;
  }
}
.shows__venue, .shows__location {
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 79.875rem) {
  .shows__venue, .shows__location {
    width: 200px;
    line-height: 32px;
  }
}
.shows__button-wrapper {
  width: 100%;
  text-align: center;
  background-color: #323232;
  border-radius: 5px;
  padding-top: 24px;
  padding-bottom: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .shows__button-wrapper {
    width: 25%;
    height: 65px;
  }
}
@media screen and (min-width: 79.875rem) {
  .shows__button-wrapper {
    padding-top: 10px;
    width: 15%;
    height: 45px;
  }
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .shows__button-wrapper--top {
    margin-top: 40px;
  }
}
.shows__booking {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
}
@media screen and (min-width: 79.875rem) {
  .shows__booking {
    width: 15%;
    text-align: center;
    font-size: 15px;
  }
}
.shows__date-wrapper, .shows__venue-wrapper, .shows__location-wrapper {
  line-height: 18px;
  padding-bottom: 2px;
}
@media screen and (min-width: 48rem) and (max-width: 79.9375rem) {
  .shows__date-wrapper, .shows__venue-wrapper, .shows__location-wrapper {
    line-height: 44px;
  }
}
@media screen and (min-width: 79.875rem) {
  .shows__container {
    width: 80%;
    padding-left: 40px;
  }
}

hr {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  color: #E1E1E1;
}
/*# sourceMappingURL=shows.css.map *//*# sourceMappingURL=shows.css.map */