@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.ttf") format("truetype");
  font-weight: 600;
}
* {
  box-sizing: border-box;
}

*, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Avenir";
  font-size: 60px;
  font-weight: 700;
  font-style: bold;
  line-height: 68px;
}

h2 {
  font-family: "Avenir";
  font-size: 36px;
  font-weight: 700;
  font-style: bold;
  line-height: 44px;
}

h3 {
  font-family: "Avenir";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.header {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
}
.header__wrapper > a {
  text-decoration: none;
}
.header__wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__wrapper {
    margin-left: 36px;
    margin-right: 36px;
    height: 70px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .header__wrapper {
    display: block;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    display: flex;
    align-items: center;
  }
}
.header__title {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.4rem;
  line-height: 2rem;
  color: #FFFFFF;
  font-size: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__title {
    padding-right: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .header__title {
    padding-right: 50px;
  }
}

.nav-list {
  padding-left: 0;
  padding-bottom: 0.7rem;
  margin: 0rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav-list {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list {
    padding-bottom: 0rem;
  }
}
.nav-list__item {
  list-style: none;
  color: #E1E1E1;
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 14px;
  padding-right: 60px;
  padding-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav-list__item {
    padding-right: 36px;
    padding-left: 0px;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list__item {
    padding-right: 36px;
    padding-left: 0px;
    margin: 0;
    display: block;
  }
}
.nav-list__item:before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  right: 0;
  top: 33.33%;
  z-index: 0;
  transition: all 0.5s;
}
.nav-list__item:after {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  opacity: 30%;
  left: 0;
  z-index: 0;
  bottom: 0;
  transition: all 0.5s;
}
.nav-list__item > a:before {
  content: "";
  position: absolute;
  height: 33.33%;
  width: 0;
  bottom: 66.66%;
  left: 0;
  transition: all 0.5s;
}
.nav-list__item:hover:before, .nav-list__item:hover:after, .nav-list__item:hover a:before {
  width: 100%;
  background-color: #DA70D6;
  opacity: 20%;
}
.nav-list__item:active {
  bottom: 0;
  border-bottom: 0.2em solid #FFFFFF;
  color: #FFFFFF;
  font-weight: 700;
  font-style: bold;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav-list__item:active {
    margin-bottom: -24px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list__item:active {
    margin-bottom: -24px;
  }
}
.nav-list__item:hover {
  border-bottom: 0.2rem solid #FFFFFF;
  bottom: 0;
  padding-bottom: 1rem;
  color: #E1E1E1;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nav-list__item:hover {
    margin-bottom: -24px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-list__item:hover {
    margin-bottom: -24px;
  }
}

.nav-list:hover {
  padding-bottom: 0rem;
}

.nav-list:active {
  padding-bottom: 0rem;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-top: 0.5rem;
  padding: 1.5rem 1rem 1rem 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
    position: relative;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__wrapper {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    max-width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 50%;
  }
}
.footer__title {
  margin-top: 0rem;
  font-family: "Avenir";
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    font-size: 2.25rem;
  }
}
.footer__icons {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  max-width: 30%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer__icon {
    padding-left: 0.5rem;
    height: 1.8rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__icon {
    padding-left: 0.5rem;
    height: 1.8rem;
  }
}

.management {
  font-family: "Avenir";
  font-size: 0.875rem;
}
.management__wrapper {
  line-height: 1.375rem;
}
.management__name {
  margin-bottom: 0rem;
  font-weight: 600;
}
.management__group {
  margin-top: 0;
  font-weight: 600;
}
.management__address {
  margin-top: 0;
  font-weight: 400;
}
.management__location {
  margin-top: 0;
  font-weight: 400;
}
.management__type {
  margin-bottom: 0;
  font-weight: 400;
}
.management__street {
  margin-bottom: 0;
  font-weight: 400;
}
.management__city {
  margin-top: 0;
  font-weight: 400;
}
.management__email {
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.management__copyright {
  font-weight: 400;
  font-size: 0.875rem;
}
.management__logo {
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 3.125rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .management__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.4375rem;
    padding-right: 2.25rem;
    margin-bottom: 0;
    margin-top: 0px;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .management__logo {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.4375rem;
    padding-right: 2.25rem;
    margin-bottom: 0;
    margin-top: 0rem;
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .management__sections {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .management__sections {
    display: flex;
    justify-content: space-between;
  }
}

hr {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 0.0625rem;
  color: #E1E1E1;
}

.hero {
  color: #FFFFFF;
  font-family: "Avenir";
  display: flex;
  flex-direction: column;
}
.hero__wrapper {
  position: relative;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem 2rem 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__wrapper {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10rem 5rem;
  }
}
.hero__wrapper::before {
  content: " ";
  background-color: #323232;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
}
@media screen and (min-width: 1280px) {
  .hero__info-wrapper {
    margin-right: 1.25rem;
  }
}
.hero__title {
  z-index: 3;
  margin-top: 0;
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 1.5rem;
  }
}
.hero__sample-title {
  z-index: 3;
  font-size: 2.25rem;
  font-weight: 37.5rem;
  margin-top: 0;
  max-width: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero__sample-title {
    font-size: 2.5rem;
    max-width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__sample-title {
    font-size: 3.75rem;
    max-width: 80%;
    margin: 0rem;
  }
}
.hero__video-wrapper {
  width: 60%;
  height: 9.375rem;
  z-index: 3;
}
@media screen and (min-width: 1280px) {
  .hero__video-wrapper {
    width: 60%;
    margin-top: 2.5rem;
  }
}

.shows {
  padding: 2rem 1rem 2rem 1rem;
  font-family: "Avenir";
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 3rem 5rem 5rem;
  }
}
.shows__label-wrapper {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__label-wrapper {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .shows__label-wrapper {
    display: none;
  }
}
.shows__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .shows__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
}
.shows__wrapper:hover {
  background-color: #FAFAFA;
}
.shows__wrapper:active {
  background-color: #E1E1E1;
}
.shows__title {
  font-size: 1.875rem;
}
@media screen and (min-width: 1280px) {
  .shows__title {
    padding-right: 10%;
    font-size: 2.25rem;
    font-weight: 600;
  }
}
.shows__label {
  text-transform: uppercase;
  color: #AFAFAF;
  font-weight: 600;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__label--tablet-desktop {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .shows__label--tablet-desktop {
    display: none;
  }
}
.shows__date {
  font-weight: 600;
}
@media screen and (min-width: 1280px) {
  .shows__date {
    width: 12.5rem;
    line-height: 1.375rem;
  }
}
.shows__venue, .shows__location {
  font-weight: 400;
  font-style: normal;
}
@media screen and (min-width: 1280px) {
  .shows__venue, .shows__location {
    width: 12.5rem;
    line-height: 2rem;
  }
}
.shows__button-wrapper {
  width: 100%;
  text-align: center;
  background-color: #323232;
  border-radius: 0.3125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__button-wrapper {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-top: 1rem;
    width: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button-wrapper {
    margin-top: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    width: 15%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__button-wrapper--top {
    margin-bottom: 0;
    margin-top: 3.125rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__button-wrapper--top {
    margin-bottom: 0;
    align-self: center;
  }
}
.shows__booking {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__booking {
    text-align: center;
    font-size: 0.9375rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__booking {
    width: 15%;
    text-align: center;
    font-size: 0.9375rem;
  }
}
.shows__date-wrapper, .shows__venue-wrapper, .shows__location-wrapper {
  line-height: 1.125rem;
  padding-bottom: 0.125rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .shows__date-wrapper, .shows__venue-wrapper, .shows__location-wrapper {
    line-height: 2.75rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__container {
    width: 80%;
    padding-left: 2.5rem;
  }
}
/*# sourceMappingURL=shows.css.map *//*# sourceMappingURL=shows.css.map */