@use './partials/colors';
@use './partials/_typography';
@use './partials/mixins';
@use './partials/globals';

// hero section
.hero {
  position: relative;
  color: colors.$white;
  font-family: 'Avenir';
  display: flex;
  flex-direction: column;
  @include mixins.desktop {
  }
  &__image {
    background-image: url('../assets/images/hero-shows.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    

    @include mixins.tablet {
      height: 32vh;
       
    }
  
    @include mixins.desktop {
      height: 45vh;
      // padding: 3rem 2.25rem 2.25rem 2.25rem;
      
      // padding-left: 80px;
      // padding-right: 80px;
      
    }
  }

  &__wrapper {
    z-index: 1;
    position: absolute;
    padding: 32px 16px 32px 16px;
    width: 100%;
    
    @include mixins.tablet{
      // display: flex;
      padding: 3rem 2.25rem 2.25rem 2.25rem;
      
    }
    @include mixins.desktop{
      top: 150px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 5rem;
      padding-right: 5rem;
      // justify-content: space-between;

    }
  }

  &__info-wrapper {
    @include mixins.desktop {
      // padding-top: 40px;
      // padding-bottom: 40px;
      margin-right: 20px;
      // max-width: 50%;
    }
  }

  &__title {
    margin-top: 0;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
  
    @include mixins.tablet {
      font-size: 24px;
    }
    @include mixins.desktop {
      font-size: 24px;
      
    }
    
  }
  &__sample-title {
    font-size: 36px;
    font-weight: 600px;
    z-index: 1;
    margin-top: 0;
    max-width: 50%;
    @include mixins.tablet {
      font-size: 40px;
      max-width: 60%;
    }
    @include mixins.desktop {
      font-size: 3.75rem;
      max-width: 80%;
      margin: 0px;
    }
    
  }

  &__video-wrapper {
    width: 100%;

    @include mixins.desktop {
      width: 60%;
      margin-top: 40px;
    }
  }
  &__sample-song {
    border-radius: 5px;
    border: 0.5px solid rgb(32, 22, 9);
    z-index: 1;
    width: 100%;
    top: 0;

    @include mixins.tablet {
      max-width: 43%;
    }
    @include mixins.desktop {
      max-width: 100%;
      
      
    }
    
  }
}

.hero::before {
  content: " ";
  background-color: colors.$bandsite-black;
  position: absolute;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;

  // tablet and desktop overlay
  @include mixins.tablet {
    // height: 50vh;
  }
  @include mixins.desktop {
    // height: 60vh;
  }
}

//shows section
.shows {
  padding: 32px 16px 32px 16px;
  font-family: 'Avenir';
  @include mixins.tablet {
    padding: 3rem 2.25rem 2.25rem ;
  }

  &__label-wrapper {
    display: none;
    
    @include mixins.tablet {
      display: flex;
     
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include mixins.tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
    }
  }

  &__title {
    font-size: 30px;
  }
  &__label {
    text-transform: uppercase;
    color: colors.$silver;
    font-weight: 600;

    &--tablet-desktop {
      @include mixins.tablet {
        display: none;
      }
    }
  }

  &__date {
    font-weight: 600;
  }
  &__venue,
  &__location {
    font-weight: 400;
    font-style: normal;
  }

  &__button-wrapper {
    width: 100%;
    text-align: center;
    background-color: colors.$bandsite-black;
    border-radius: 5px;
    padding-top: 16px;
    padding-bottom: 16px;

    @include mixins.tablet {
      width: 25%;
      height: 65px;
      
    }
    &--top {
      @include mixins.tablet {
        margin-top: 40px;
      }
    }

  }

  &__booking {
    text-decoration: none;
    color: colors.$white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    @include mixins.tablet {
      
    }
  }

  &__date-wrapper,
  &__venue-wrapper,
  &__location-wrapper {
    line-height: 18px;
    padding-bottom: 2px;

    @include mixins.tablet {
      line-height: 44px;
      
    }
  }  
}

