@use './partials/colors';
@use './partials/_typography';
@use './partials/mixins';
@use './partials/globals';

// hero section
.hero {
  color: colors.$white;
  font-family: 'Avenir';
  display: flex;
  flex-direction: column;
  &__wrapper {
    position: relative;
    background-image: url('../assets/images/hero-shows.jpg');
    background-size: cover;
    background-position: center;
    padding: 2rem 1rem 2rem 1rem;
    
    //tablet and desktop
    @include mixins.tablet{
      padding: 3rem 2.25rem 2.25rem 2.25rem;    
    }
    @include mixins.desktop{
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10rem 5rem;
    }
  }
  &__wrapper::before {
    content: " ";
    background-color: colors.$bandsite-black;
    // position: absolute;
    // z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5; 
  }

  &__info-wrapper {
    @include mixins.desktop {
      margin-right: 1.25rem;
    }
  }

  &__title {
    z-index: 3;
    margin-top: 0;
    font-weight: 400;
    font-style: normal;
  
    @include mixins.tablet {
      font-size: 1.5rem;
    }
    @include mixins.desktop {
      font-size: 1.5rem;    
    }   
  }
  &__sample-title {
    z-index: 3;
    font-size: 2.25rem;
    font-weight: 37.5rem;
    margin-top: 0;
    max-width: 50%;
    @include mixins.tablet {
      font-size: 2.5rem;
      max-width: 60%;
    }
    @include mixins.desktop {
      font-size: 3.75rem;
      max-width: 80%;
      margin: 0rem;
    }   
  }

  &__video-wrapper {
    width: 60%;
    height: 9.375rem;
    z-index: 3;

    @include mixins.desktop {
      width: 60%;
      margin-top: 2.5rem;
    }
  }  
}

//shows section
.shows {
  padding: 2rem 1rem 2rem 1rem;
  font-family: 'Avenir';
  @include mixins.tablet {
    padding: 3rem 2.25rem 2.25rem;
  }
  @include mixins.desktop {
    display: flex;
    justify-content: space-evenly;
    align-content: center; 
    flex-wrap: wrap;  
    align-items: baseline;
    padding: 3rem 5rem 5rem ;
  }

  &__label-wrapper {
    display: none;
    
    @include mixins.tablet {
      display: flex;
     
    }
    @include mixins.desktop {
      display: none;    
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include mixins.tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;   
    }
    @include mixins.desktop {
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      align-items: baseline;       
    }
  }

  &__wrapper:hover{
    background-color: colors.$alabaster;
  }
  &__wrapper:active{
    background-color: colors.$mercury;
  }
  &__title {
    font-size: 1.875rem;

    @include mixins.desktop {
      padding-right: 10%;
      font-size: 2.25rem;
      font-weight: 600;
    }
  }
  &__label {
    text-transform: uppercase;
    color: colors.$silver;
    font-weight: 600;

    &--tablet-desktop {
      @include mixins.tablet {
        display: none;
      }
      @include mixins.desktop {
        display: none;
      }
    }
  }

  &__date {
    font-weight: 600;
    @include mixins.desktop{
      width: 12.5rem;
      line-height: 1.375rem;
    }
    
  }
  &__venue,
  &__location {
    font-weight: 400;
    font-style: normal;
    @include mixins.desktop {
      width: 12.5rem;
      line-height: 2rem;
    }
  }

  &__button-wrapper {
    width: 100%;
    text-align: center;
    background-color: colors.$bandsite-black;
    border-radius: 0.3125rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
     
    @include mixins.tablet {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      margin-top: 1rem;
      width: 20%;      
    }
    @include mixins.desktop {
      margin-top: 1rem;
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      width: 15%;  
    }

    &--top {
      @include mixins.tablet {
        margin-bottom: 0;
        margin-top: 3.125rem;
      }
      @include mixins.desktop {
        margin-bottom: 0;
        align-self: center;
      }
    }
  }

  &__booking {
    text-align: center;    
    text-decoration: none;
    color: colors.$white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    
    @include mixins.tablet {
      // width: 15%;
      text-align: center;
      font-size: 0.9375rem;
      
    }
    @include mixins.desktop {
      width: 15%;
      text-align: center;
      font-size: 0.9375rem;
      
    }
  }

  &__date-wrapper,
  &__venue-wrapper,
  &__location-wrapper {
    line-height: 1.125rem;
    padding-bottom: 0.125rem;

    @include mixins.tablet {
      line-height: 2.75rem;
      
    }
  }  

  &__container{
    @include mixins.desktop {
      width: 80%;
      padding-left: 2.5rem;

    }
    
  }
}





